{% extends 'base.html.twig' %}

{% block title %}The best articles in {{ category.title }} | News Portal{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/category.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <section class="category">
            <h1>{{ category.title }}</h1>
            <p>{{ category.description }}</p>
        </section>

        <section class="category">
            <div class="row posts">
                {% for post in posts %}
                    <div class="col-12">
                        <article class="post top-post">
                            <div class="category-link">{{ post.description }}</div>
                            <time>{{ post.date|date('Y-m-d') }}</time>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
